In [1]:
import pandas as pd
from utils.calc import area_calc

In [2]:
df_main = pd.read_csv("data/measurements.csv", sep=";", index_col="Temp./°C")
df_main

,C1_S1,C1_S3,C1_S5,C2_S1,C2_S3,C2_S5,C3_S1,C3_S3,C3_S5,C4_S1,...,C7_S5,C8_S1,C8_S3,C8_S5,C9_S1,C9_S3,C9_S5,C10_S1,C10_S3,C10_S5
Temp./°C,,,,,,,,,,,,,,,,,,,,,
-27.65517,NaN,-0.28629,0.29632,NaN,-0.26812,0.27996,NaN,-0.25642,0.29215,NaN,...,0.28233,NaN,-0.29654,0.30878,NaN,-0.31436,0.31452,NaN,-0.29660,0.30051
-26.65517,NaN,-0.28742,0.29556,NaN,-0.26919,0.27943,NaN,-0.27181,0.29010,NaN,...,0.28116,NaN,-0.30165,0.30859,NaN,-0.31737,0.31461,NaN,-0.29747,0.30048
-25.65517,NaN,-0.28762,0.29407,NaN,-0.26998,0.27876,NaN,-0.28293,0.28855,NaN,...,0.28004,NaN,-0.30235,0.30855,NaN,-0.31748,0.31490,NaN,-0.29811,0.30045
-24.65517,NaN,-0.28922,0.29382,NaN,-0.27078,0.27855,NaN,-0.28939,0.28784,NaN,...,0.27953,NaN,-0.30312,0.30881,NaN,-0.31861,0.31546,NaN,-0.29897,0.30092
-23.65517,NaN,-0.28983,0.29302,NaN,-0.27162,0.27881,NaN,-0.29127,0.28790,NaN,...,0.27936,NaN,-0.30380,0.30936,NaN,-0.31938,0.31627,NaN,-0.29999,0.30178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270.34483,0.48226,-0.42968,0.45576,0.44551,-0.42925,0.41479,0.47739,-0.42917,0.44651,0.43974,...,0.39977,0.49512,-0.48689,0.46568,0.53158,-0.47484,0.50892,0.50868,-0.45957,0.47928
271.34483,0.48173,-0.43157,0.45590,0.44583,-0.43115,0.41533,0.47813,-0.43063,0.44700,0.43981,...,0.40013,0.49566,-0.48951,0.46614,0.53222,-0.47693,0.50965,0.50922,-0.46179,0.47999
272.34483,0.48077,-0.43195,0.45604,0.44602,-0.43184,0.41592,0.47872,-0.43102,0.44750,0.44043,...,0.40046,0.49669,-0.49016,0.46663,0.53283,-0.47751,0.51039,0.50983,-0.46230,0.48067
273.34483,0.48015,-0.43235,0.45656,0.44673,-0.43270,0.41653,0.47945,-0.43079,0.44807,0.44076,...,0.40075,0.49713,-0.49082,0.46706,0.53303,-0.47841,0.51116,0.51023,-0.46283,0.48141
274.34483,0.47997,-0.43365,0.45762,0.44752,-0.43311,0.41717,0.48029,-0.43189,0.44868,0.44111,...,0.40113,0.49725,-0.49233,0.46744,0.53338,-0.47890,0.51190,0.51062,-0.46379,0.48212

In [3]:
df_peak = pd.read_csv("data/peaks.csv", sep=";")
df_peak

  Series  Peak_Temperature  Start_Temperature  End_Temperature      Area
0  C1_S3          29.34483           18.34483         38.34483 -0.466610
1  C1_S3          97.34483           80.34483        106.34483 -0.572195
2  C1_S5          55.34483           45.34483         62.34483  0.403585
3  C1_S5         110.34483           91.34483        120.34483  0.515150
4  C2_S5          55.34483           41.34483         62.34483  0.446510
5  C2_S5         110.34483           87.34483        120.34483  0.630190
6  C2_S5          55.34483           41.34483         62.34483  0.446510
7  C2_S5         110.34483           87.34483        120.34483  0.630190

## Flächenkalkulation

In [4]:
df_peak.loc[df_peak.index[6], 'Area'] = 0
df_peak.loc[df_peak.index[7], 'Area'] = 0
df_peak[df_peak["Series"] == "C2_S5"]

  Series  Peak_Temperature  Start_Temperature  End_Temperature     Area
4  C2_S5          55.34483           41.34483         62.34483  0.44651
5  C2_S5         110.34483           87.34483        120.34483  0.63019
6  C2_S5          55.34483           41.34483         62.34483  0.00000
7  C2_S5         110.34483           87.34483        120.34483  0.00000

In [5]:
area_calc(df_peak, df_main, "C2_S5")

True

In [6]:
df_peak[df_peak["Series"] == "C2_S5"]

  Series  Peak_Temperature  Start_Temperature  End_Temperature      Area
4  C2_S5          55.34483           41.34483         62.34483  0.446895
5  C2_S5         110.34483           87.34483        120.34483  0.630345
6  C2_S5          55.34483           41.34483         62.34483  0.446895
7  C2_S5         110.34483           87.34483        120.34483  0.630345

## Peak Dataframe und CSV für alle

In [7]:
import pandas as pd

import numpy as np
from scipy.signal import find_peaks

In [8]:
df_main = pd.read_csv("data/measurements.csv", sep=";", index_col="Temp./°C")
df_main

,C1_S1,C1_S3,C1_S5,C2_S1,C2_S3,C2_S5,C3_S1,C3_S3,C3_S5,C4_S1,...,C7_S5,C8_S1,C8_S3,C8_S5,C9_S1,C9_S3,C9_S5,C10_S1,C10_S3,C10_S5
Temp./°C,,,,,,,,,,,,,,,,,,,,,
-27.65517,NaN,-0.28629,0.29632,NaN,-0.26812,0.27996,NaN,-0.25642,0.29215,NaN,...,0.28233,NaN,-0.29654,0.30878,NaN,-0.31436,0.31452,NaN,-0.29660,0.30051
-26.65517,NaN,-0.28742,0.29556,NaN,-0.26919,0.27943,NaN,-0.27181,0.29010,NaN,...,0.28116,NaN,-0.30165,0.30859,NaN,-0.31737,0.31461,NaN,-0.29747,0.30048
-25.65517,NaN,-0.28762,0.29407,NaN,-0.26998,0.27876,NaN,-0.28293,0.28855,NaN,...,0.28004,NaN,-0.30235,0.30855,NaN,-0.31748,0.31490,NaN,-0.29811,0.30045
-24.65517,NaN,-0.28922,0.29382,NaN,-0.27078,0.27855,NaN,-0.28939,0.28784,NaN,...,0.27953,NaN,-0.30312,0.30881,NaN,-0.31861,0.31546,NaN,-0.29897,0.30092
-23.65517,NaN,-0.28983,0.29302,NaN,-0.27162,0.27881,NaN,-0.29127,0.28790,NaN,...,0.27936,NaN,-0.30380,0.30936,NaN,-0.31938,0.31627,NaN,-0.29999,0.30178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270.34483,0.48226,-0.42968,0.45576,0.44551,-0.42925,0.41479,0.47739,-0.42917,0.44651,0.43974,...,0.39977,0.49512,-0.48689,0.46568,0.53158,-0.47484,0.50892,0.50868,-0.45957,0.47928
271.34483,0.48173,-0.43157,0.45590,0.44583,-0.43115,0.41533,0.47813,-0.43063,0.44700,0.43981,...,0.40013,0.49566,-0.48951,0.46614,0.53222,-0.47693,0.50965,0.50922,-0.46179,0.47999
272.34483,0.48077,-0.43195,0.45604,0.44602,-0.43184,0.41592,0.47872,-0.43102,0.44750,0.44043,...,0.40046,0.49669,-0.49016,0.46663,0.53283,-0.47751,0.51039,0.50983,-0.46230,0.48067
273.34483,0.48015,-0.43235,0.45656,0.44673,-0.43270,0.41653,0.47945,-0.43079,0.44807,0.44076,...,0.40075,0.49713,-0.49082,0.46706,0.53303,-0.47841,0.51116,0.51023,-0.46283,0.48141
274.34483,0.47997,-0.43365,0.45762,0.44752,-0.43311,0.41717,0.48029,-0.43189,0.44868,0.44111,...,0.40113,0.49725,-0.49233,0.46744,0.53338,-0.47890,0.51190,0.51062,-0.46379,0.48212

In [9]:
for col in df_main.columns:
    if "S3" in col:
        print(col)

C1_S3
C2_S3
C3_S3
C4_S3
C5_S3
C6_S3
C7_S3
C8_S3
C9_S3
C10_S3

In [10]:
df_peak = pd.DataFrame(columns=["Series", "Peak_Temperature", "Start_Temperature", "End_Temperature", "Area"])
df_peak

Empty DataFrame
Columns: [Series, Peak_Temperature, Start_Temperature, End_Temperature, Area]
Index: []

In [11]:
"""
this_height = 0.3  # Grenze auf der y-Achse (0-1) 
this_prominence = 0.01 # [0.001 (mehr peaks) - 0.1 (weniger peaks)]
"""
def get_series_peaks_data(dframe, series_name, this_height=0.3, this_prominence=0.01):
    if "S3" in series_name:
        dframe = -dframe 
    # Finden der Peaks
    peaks, properties = find_peaks(dframe[series_name], height=this_height, prominence = this_prominence, width=1)
    
    # Berechnung der ersten Ableitung der Daten -----------------------------
    first_derivative = np.diff(dframe[series_name])
    
    # Berechnung der zweiten Ableitung
    second_derivative = np.gradient(first_derivative)
    
    # Start- und Endpunkte bestimmen ----------------------------------------------------
    
    # Initialisierung der Listen für die Startpunkte -------------------
    start_points = []
    
    # Iteriere durch jeden Peak, um den Startpunkt zu bestimmen
    for peak_index in range(len(peaks)):
        peak = peaks[peak_index]
        # Suche rückwärts nach dem letzten Punkt, bei dem der 1. Ableitung negativ ist
        start = None
        for i in range(peak, 0, -1):  # ab peak zurückwärts (theoretisch bis Anfang)
            if first_derivative[i-1] < 0:
                start = i
                break
        if start is not None:
            start_points.append(start)
        else:
            start_points.append(0)
    
    
    # Initialisierung der Listen für die Endpunkte ----------------------
    end_points = []
    
    # Iteriere durch jeden Peak, um den Endpunkt zu bestimmen
    for peak_index in range(len(peaks)):
        peak = peaks[peak_index]
        # Suche vorwärts nach dem ersten Punkt, bei dem der 1. Ableitung positiv wird
        end = None
        for i in range(peak, len(first_derivative)): # ab peak vorwärts (theoretisch bis Ende)
            if first_derivative[i] > 0:
                end = i + 1  # Berücksichtige np.diff Verschiebung
                break
        if end is not None:
            end_points.append(end)
        else:
            end_points.append(len(dframe) - 1)
    
    
    
    # Startpunkte optimieren ----------------------------------------------
    second_derivative_series = pd.Series(second_derivative)
    second_derivative_series
    
    # Initialisierung von improved_start_points 
    improved_start_points = []
    
    for i in range(len(start_points)):
        this_start = start_points[i]
        this_peak = peaks[i]
    
        # Eingrenzung der Series
        second_der_area = second_derivative_series.loc[range(this_start+1, this_peak)]
    
        # Umgekehrte For-Schleife durch die Series UM die negativen Werte "am Peak" zu löschen
        for index in reversed(second_der_area.index):
            value = second_der_area[index]
            if value > 0:
                break;
            elif value <= 0:
                second_der_area = second_der_area.drop(index)
    
        new_start = this_start
    
        # Umgekehrte For-Schleife durch die Series, UM den Übergangs ins Negative zu finden (mit Toleranz) bzw. erste sehr nach an der 0
        for index in reversed(second_der_area.index):
            value = second_der_area[index]
            new_start = index
            
            if value <= 0.0001:
                if dframe[series_name].iloc[index] <= dframe[series_name].iloc[end_points[i]]:
                    break
                    
        improved_start_points.append(new_start)
    
    # --------------------------------------------------------------------------------------
    if "S3" in series_name:
        dframe = -dframe 
    
    peaks_temperature = dframe.index[peaks]
    init_start_points_temperature = dframe.index[start_points]
    start_points_temperature = dframe.index[improved_start_points]
    end_points_temperature = dframe.index[end_points]

    return {"Series" : series_name,
        'Peak_Temperature': peaks_temperature,
        'Start_Temperature': start_points_temperature,
        'End_Temperature': end_points_temperature,
        'Area': np.NaN}

In [12]:
data = get_series_peaks_data(df_main, "C1_S3")
data

{'Series': 'C1_S3',
 'Peak_Temperature': Index([29.34483, 97.34483], dtype='float64', name='Temp./°C'),
 'Start_Temperature': Index([18.34483, 80.34483], dtype='float64', name='Temp./°C'),
 'End_Temperature': Index([38.34483, 106.34483], dtype='float64', name='Temp./°C'),
 'Area': nan}

In [13]:
if df_peak.empty:
    df_peak = pd.DataFrame(data)
else:
    df_peak = pd.concat([df_peak, pd.DataFrame(data)], ignore_index=True)


df_peak

  Series  Peak_Temperature  Start_Temperature  End_Temperature  Area
0  C1_S3          29.34483           18.34483         38.34483   NaN
1  C1_S3          97.34483           80.34483        106.34483   NaN

In [14]:

data = get_series_peaks_data(df_main, "C1_S1")
df_peak = pd.DataFrame(data)
df_peak

  Series  Peak_Temperature  Start_Temperature  End_Temperature  Area
0  C1_S1          23.34483          -26.65517         35.34483   NaN
1  C1_S1          57.34483           42.34483         65.34483   NaN
2  C1_S1         110.34483           86.34483        129.34483   NaN

In [15]:
list(df_main.columns)[0]

'C1_S1'

In [16]:
df_main.columns

Index(['C1_S1', 'C1_S3', 'C1_S5', 'C2_S1', 'C2_S3', 'C2_S5', 'C3_S1', 'C3_S3',
       'C3_S5', 'C4_S1', 'C4_S3', 'C4_S5', 'C5_S1', 'C5_S3', 'C5_S5', 'C6_S1',
       'C6_S3', 'C6_S5', 'C7_S1', 'C7_S3', 'C7_S5', 'C8_S1', 'C8_S3', 'C8_S5',
       'C9_S1', 'C9_S3', 'C9_S5', 'C10_S1', 'C10_S3', 'C10_S5'],
      dtype='object')

In [17]:
df_peak = pd.DataFrame(columns=["Series", "Peak_Temperature", "Start_Temperature", "End_Temperature", "Area"])

for col in list(df_main.columns):
    data = get_series_peaks_data(df_main, col)
    if df_peak.empty:
        df_peak = pd.DataFrame(data)
    else:
        df_peak = pd.concat([df_peak, pd.DataFrame(data)], ignore_index=True)

df_peak

    Series  Peak_Temperature  Start_Temperature  End_Temperature  Area
0    C1_S1          23.34483          -26.65517         35.34483   NaN
1    C1_S1          57.34483           42.34483         65.34483   NaN
2    C1_S1         110.34483           86.34483        129.34483   NaN
3    C1_S3          29.34483           18.34483         38.34483   NaN
4    C1_S3          97.34483           80.34483        106.34483   NaN
..     ...               ...                ...              ...   ...
81  C10_S3          97.34483           69.34483        106.34483   NaN
82  C10_S3         183.34483          166.34483        199.34483   NaN
83  C10_S5          55.34483           42.34483         65.34483   NaN
84  C10_S5         110.34483           77.34483        124.34483   NaN
85  C10_S5         243.34483          225.34483        253.34483   NaN

[86 rows x 5 columns]

In [18]:
def create_peak_df(dframe, this_height=0.3, this_prominence=0.01):
    df_peak = pd.DataFrame(columns=["Series", "Peak_Temperature", "Start_Temperature", "End_Temperature", "Area"])
    
    for col in list(dframe.columns):
        data = get_series_peaks_data(dframe, col, this_height, this_prominence)
        
        if df_peak.empty:
            df_peak = pd.DataFrame(data)
        else:
            df_peak = pd.concat([df_peak, pd.DataFrame(data)], ignore_index=True)

    return df_peak

In [19]:
new_df = create_peak_df(df_main)
new_df

    Series  Peak_Temperature  Start_Temperature  End_Temperature  Area
0    C1_S1          23.34483          -26.65517         35.34483   NaN
1    C1_S1          57.34483           42.34483         65.34483   NaN
2    C1_S1         110.34483           86.34483        129.34483   NaN
3    C1_S3          29.34483           18.34483         38.34483   NaN
4    C1_S3          97.34483           80.34483        106.34483   NaN
..     ...               ...                ...              ...   ...
81  C10_S3          97.34483           69.34483        106.34483   NaN
82  C10_S3         183.34483          166.34483        199.34483   NaN
83  C10_S5          55.34483           42.34483         65.34483   NaN
84  C10_S5         110.34483           77.34483        124.34483   NaN
85  C10_S5         243.34483          225.34483        253.34483   NaN

[86 rows x 5 columns]

In [20]:
pd.set_option('display.max_rows', None)
new_df

    Series  Peak_Temperature  Start_Temperature  End_Temperature  Area
0    C1_S1          23.34483          -26.65517         35.34483   NaN
1    C1_S1          57.34483           42.34483         65.34483   NaN
2    C1_S1         110.34483           86.34483        129.34483   NaN
3    C1_S3          29.34483           18.34483         38.34483   NaN
4    C1_S3          97.34483           80.34483        106.34483   NaN
5    C1_S5          55.34483           45.34483         62.34483   NaN
6    C1_S5         110.34483           91.34483        120.34483   NaN
7    C2_S1          25.34483          -26.65517         35.34483   NaN
8    C2_S1          57.34483           43.34483         66.34483   NaN
9    C2_S1         110.34483           86.34483        130.34483   NaN
10   C2_S3          29.34483           18.34483         37.34483   NaN
11   C2_S3          97.34483           80.34483        107.34483   NaN
12   C2_S5          55.34483           41.34483         62.34483   NaN
13   C2_S5         110.34483           87.34483        120.34483   NaN
14   C3_S1          24.34483          -26.65517         35.34483   NaN
15   C3_S1          57.34483           42.34483         65.34483   NaN
16   C3_S1         110.34483           84.34483        122.34483   NaN
17   C3_S3          29.34483           15.34483         37.34483   NaN
18   C3_S3          97.34483           80.34483        107.34483   NaN
19   C3_S5          54.34483           44.34483         65.34483   NaN
20   C3_S5         109.34483           88.34483        122.34483   NaN
21   C4_S1          24.34483          -26.65517         35.34483   NaN
22   C4_S1          57.34483           43.34483         66.34483   NaN
23   C4_S1         110.34483           81.34483        124.34483   NaN
24   C4_S3          29.34483           18.34483         37.34483   NaN
25   C4_S3          97.34483           80.34483        107.34483   NaN
26   C4_S5          55.34483           45.34483         64.34483   NaN
27   C4_S5         110.34483           84.34483        122.34483   NaN
28   C5_S1          24.34483          -26.65517         35.34483   NaN
29   C5_S1          57.34483           42.34483         65.34483   NaN
30   C5_S1         110.34483           73.34483        126.34483   NaN
31   C5_S3          29.34483           16.34483         37.34483   NaN
32   C5_S3          97.34483           81.34483        107.34483   NaN
33   C5_S5          53.34483           39.34483         67.34483   NaN
34   C5_S5         108.34483           87.34483        123.34483   NaN
35   C6_S1          24.34483          -26.65517         34.34483   NaN
36   C6_S1          57.34483           42.34483         67.34483   NaN
37   C6_S1         110.34483           78.34483        125.34483   NaN
38   C6_S1         245.34483          235.34483        256.34483   NaN
39   C6_S3          29.34483           16.34483         38.34483   NaN
40   C6_S3          97.34483           76.34483        106.34483   NaN
41   C6_S3         181.34483          164.34483        196.34483   NaN
42   C6_S5          54.34483           39.34483         65.34483   NaN
43   C6_S5         109.34483           82.34483        122.34483   NaN
44   C6_S5         242.34483          229.34483        253.34483   NaN
45   C7_S1          25.34483          -26.65517         35.34483   NaN
46   C7_S1          58.34483           43.34483         68.34483   NaN
47   C7_S1         111.34483           74.34483        130.34483   NaN
48   C7_S1         245.34483          231.34483        258.34483   NaN
49   C7_S3          29.34483           17.34483         37.34483   NaN
50   C7_S3          97.34483           74.34483        104.34483   NaN
51   C7_S3         178.34483          159.34483        193.34483   NaN
52   C7_S5          55.34483           44.34483         67.34483   NaN
53   C7_S5         110.34483           76.34483        125.34483   NaN
54   C7_S5         242.34483          224.34483        253.34483   NaN
55   C8_S1          24.34483          -26.65517         34.34483   NaN
56   C8_S1          57.34483           42.34483         68.34483   NaN
57   C8_S1         110.34483           74.34483        134.34483   NaN
58   C8_S1         245.34483          234.34483        256.34483   NaN
59   C8_S3          30.34483           18.34483         38.34483   NaN
60   C8_S3          97.34483           75.34483        106.34483   NaN
61   C8_S3         182.34483          162.34483        197.34483   NaN
62   C8_S5          55.34483           42.34483         63.34483   NaN
63   C8_S5         110.34483           78.34483        122.34483   NaN
64   C8_S5         243.34483          223.34483        254.34483   NaN
65   C9_S1          24.34483          -26.65517         34.34483   NaN
66   C9_S1          57.34483           42.34483         67.34483   NaN
67   C9_S1         110.34483           78.34483        130.34483   NaN
68   C9_S1         245.34483          235.34483        257.34483   NaN
69   C9_S3          30.34483           17.34483         38.34483   NaN
70   C9_S3          97.34483           69.34483        106.34483   NaN
71   C9_S3         182.34483          164.34483        198.34483   NaN
72   C9_S5          55.34483           40.34483         62.34483   NaN
73   C9_S5         110.34483           78.34483        122.34483   NaN
74   C9_S5         243.34483          227.34483        253.34483   NaN
75  C10_S1          25.34483          -26.65517         35.34483   NaN
76  C10_S1          58.34483           43.34483         69.34483   NaN
77  C10_S1         111.34483           84.34483        128.34483   NaN
78  C10_S1         147.34483          131.34483        157.34483   NaN
79  C10_S1         245.34483          233.34483        256.34483   NaN
80  C10_S3          30.34483           16.34483         38.34483   NaN
81  C10_S3          97.34483           69.34483        106.34483   NaN
82  C10_S3         183.34483          166.34483        199.34483   NaN
83  C10_S5          55.34483           42.34483         65.34483   NaN
84  C10_S5         110.34483           77.34483        124.34483   NaN
85  C10_S5         243.34483          225.34483        253.34483   NaN

In [21]:
def peak_df_area_calc(peak_dframe, measurement_dframe):
    for col in list(measurement_dframe.columns):
        area_calc(peak_dframe, measurement_dframe, col)

In [22]:
peak_df_area_calc(new_df, df_main)
new_df

    Series  Peak_Temperature  Start_Temperature  End_Temperature      Area
0    C1_S1          23.34483          -26.65517         35.34483       NaN
1    C1_S1          57.34483           42.34483         65.34483  0.542440
2    C1_S1         110.34483           86.34483        129.34483  0.828260
3    C1_S3          29.34483           18.34483         38.34483 -0.466610
4    C1_S3          97.34483           80.34483        106.34483 -0.572195
5    C1_S5          55.34483           45.34483         62.34483  0.403585
6    C1_S5         110.34483           91.34483        120.34483  0.515150
7    C2_S1          25.34483          -26.65517         35.34483       NaN
8    C2_S1          57.34483           43.34483         66.34483  0.542905
9    C2_S1         110.34483           86.34483        130.34483  0.786295
10   C2_S3          29.34483           18.34483         37.34483 -0.494015
11   C2_S3          97.34483           80.34483        107.34483 -0.608365
12   C2_S5          55.34483           41.34483         62.34483  0.446895
13   C2_S5         110.34483           87.34483        120.34483  0.630345
14   C3_S1          24.34483          -26.65517         35.34483       NaN
15   C3_S1          57.34483           42.34483         65.34483  0.545415
16   C3_S1         110.34483           84.34483        122.34483  0.898345
17   C3_S3          29.34483           15.34483         37.34483 -0.489405
18   C3_S3          97.34483           80.34483        107.34483 -0.612720
19   C3_S5          54.34483           44.34483         65.34483  0.403905
20   C3_S5         109.34483           88.34483        122.34483  0.620860
21   C4_S1          24.34483          -26.65517         35.34483       NaN
22   C4_S1          57.34483           43.34483         66.34483  0.542830
23   C4_S1         110.34483           81.34483        124.34483  1.007365
24   C4_S3          29.34483           18.34483         37.34483 -0.461040
25   C4_S3          97.34483           80.34483        107.34483 -0.611210
26   C4_S5          55.34483           45.34483         64.34483  0.385040
27   C4_S5         110.34483           84.34483        122.34483  0.713590
28   C5_S1          24.34483          -26.65517         35.34483       NaN
29   C5_S1          57.34483           42.34483         65.34483  0.587025
30   C5_S1         110.34483           73.34483        126.34483  1.231695
31   C5_S3          29.34483           16.34483         37.34483 -0.509355
32   C5_S3          97.34483           81.34483        107.34483 -0.636695
33   C5_S5          53.34483           39.34483         67.34483  0.444095
34   C5_S5         108.34483           87.34483        123.34483  0.636640
35   C6_S1          24.34483          -26.65517         34.34483       NaN
36   C6_S1          57.34483           42.34483         67.34483  1.015805
37   C6_S1         110.34483           78.34483        125.34483  1.635280
38   C6_S1         245.34483          235.34483        256.34483  0.211645
39   C6_S3          29.34483           16.34483         38.34483 -0.871630
40   C6_S3          97.34483           76.34483        106.34483 -1.113560
41   C6_S3         181.34483          164.34483        196.34483 -0.357360
42   C6_S5          54.34483           39.34483         65.34483  0.797565
43   C6_S5         109.34483           82.34483        122.34483  1.199875
44   C6_S5         242.34483          229.34483        253.34483  0.157730
45   C7_S1          25.34483          -26.65517         35.34483       NaN
46   C7_S1          58.34483           43.34483         68.34483  0.950545
47   C7_S1         111.34483           74.34483        130.34483  2.012455
48   C7_S1         245.34483          231.34483        258.34483  0.381510
49   C7_S3          29.34483           17.34483         37.34483 -0.800450
50   C7_S3          97.34483           74.34483        104.34483 -1.291460
51   C7_S3         178.34483          159.34483        193.34483 -0.447790
52   C7_S5          55.34483           44.34483         67.34483  0.683360
53   C7_S5         110.34483           76.34483        125.34483  1.520290
54   C7_S5         242.34483          224.34483        253.34483  0.306700
55   C8_S1          24.34483          -26.65517         34.34483       NaN
56   C8_S1          57.34483           42.34483         68.34483  1.012595
57   C8_S1         110.34483           74.34483        134.34483  2.000575
58   C8_S1         245.34483          234.34483        256.34483  0.291645
59   C8_S3          30.34483           18.34483         38.34483 -0.853150
60   C8_S3          97.34483           75.34483        106.34483 -1.317635
61   C8_S3         182.34483          162.34483        197.34483 -0.493675
62   C8_S5          55.34483           42.34483         63.34483  0.758080
63   C8_S5         110.34483           78.34483        122.34483  1.494785
64   C8_S5         243.34483          223.34483        254.34483  0.365720
65   C9_S1          24.34483          -26.65517         34.34483       NaN
66   C9_S1          57.34483           42.34483         67.34483  1.076350
67   C9_S1         110.34483           78.34483        130.34483  2.050635
68   C9_S1         245.34483          235.34483        257.34483  0.288340
69   C9_S3          30.34483           17.34483         38.34483 -0.925815
70   C9_S3          97.34483           69.34483        106.34483 -1.599770
71   C9_S3         182.34483          164.34483        198.34483 -0.511330
72   C9_S5          55.34483           40.34483         62.34483  0.825565
73   C9_S5         110.34483           78.34483        122.34483  1.681335
74   C9_S5         243.34483          227.34483        253.34483  0.260025
75  C10_S1          25.34483          -26.65517         35.34483       NaN
76  C10_S1          58.34483           43.34483         69.34483  1.046370
77  C10_S1         111.34483           84.34483        128.34483  1.781110
78  C10_S1         147.34483          131.34483        157.34483  0.214435
79  C10_S1         245.34483          233.34483        256.34483  0.364820
80  C10_S3          30.34483           16.34483         38.34483 -0.899400
81  C10_S3          97.34483           69.34483        106.34483 -1.623680
82  C10_S3         183.34483          166.34483        199.34483 -0.552520
83  C10_S5          55.34483           42.34483         65.34483  0.790550
84  C10_S5         110.34483           77.34483        124.34483  1.753450
85  C10_S5         243.34483          225.34483        253.34483  0.360875

In [23]:
new_df.loc[0, "Series"]

'C1_S1'

In [24]:
test = new_df.loc[0, "Series"]
sample, segment = test.split("_")

In [25]:
segment

'S1'

## Excel

In [26]:
import xlsxwriter
import xlsx_function as func

In [27]:
new_file_path = "test2.xlsx"

In [28]:
writer = pd.ExcelWriter(new_file_path, engine='xlsxwriter')

In [29]:
workbook = writer.book

In [30]:
func.add_to_excel(new_df, writer, "Sheet 1", with_index = False)

In [31]:
func.add_to_excel(df_main, writer, "Sheet 2", with_index = True)

In [32]:
writer.close()

In [33]:
df_main.index.name

'Temp./°C'

In [34]:
print(new_df.index.name)

None

In [35]:
len(df_main.index.name)

8

In [36]:
(new_df["Area"].astype(str).str.len())

0      3
1     18
2     18
3     19
4     19
5     19
6     18
7      3
8     18
9     18
10    18
11    19
12    18
13    18
14     3
15    17
16    18
17    20
18    19
19    19
20    18
21     3
22    18
23    18
24    19
25    19
26    19
27    18
28     3
29    18
30    18
31    19
32    19
33    18
34    18
35     3
36    18
37    18
38    19
39    19
40    19
41    20
42    18
43    18
44    18
45     3
46    18
47    17
48    19
49    19
50    18
51    20
52    18
53    18
54    18
55     3
56    17
57    17
58    18
59    19
60    19
61    20
62    18
63    18
64    18
65     3
66    18
67    18
68    18
69    19
70    18
71    19
72    18
73    18
74    19
75     3
76    18
77    18
78    18
79    19
80    19
81    19
82    19
83    18
84    18
85    19
Name: Area, dtype: int64

In [37]:
len("Area")

4

In [38]:
len("End_Temperature")

15

In [39]:
df_peak["Series"] == "C1_S1"

0      True
1      True
2      True
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
50    False
51    False
52    False
53    False
54    False
55    False
56    False
57    False
58    False
59    False
60    False
61    False
62    False
63    False
64    False
65    False
66    False
67    False
68    False
69    False
70    False
71    False
72    False
73    False
74    False
75    False
76    False
77    False
78    False
79    False
80    False
81    False
82    False
83    False
84    False
85    False
Name: Series, dtype: bool

In [40]:
df_peak[df_peak["Series"] == "C1_S1"]

  Series  Peak_Temperature  Start_Temperature  End_Temperature  Area
0  C1_S1          23.34483          -26.65517         35.34483   NaN
1  C1_S1          57.34483           42.34483         65.34483   NaN
2  C1_S1         110.34483           86.34483        129.34483   NaN

In [44]:
df_main[["C1_S1"]]

               C1_S1
Temp./°C
-27.65517        NaN
-26.65517        NaN
-25.65517        NaN
-24.65517        NaN
-23.65517        NaN
-22.65517        NaN
-21.65517        NaN
-20.65517        NaN
-19.65517        NaN
-18.65517        NaN
-17.65517        NaN
-16.65517        NaN
-15.65517        NaN
-14.65517        NaN
-13.65517        NaN
-12.65517        NaN
-11.65517        NaN
-10.65517        NaN
-9.65517         NaN
-8.65517         NaN
-7.65517         NaN
-6.65517         NaN
-5.65517         NaN
-4.65517         NaN
-3.65517         NaN
-2.65517         NaN
-1.65517         NaN
-0.65517         NaN
 0.34483         NaN
 1.34483         NaN
 2.34483         NaN
 3.34483         NaN
 4.34483         NaN
 5.34483         NaN
 6.34483         NaN
 7.34483         NaN
 8.34483         NaN
 9.34483         NaN
 10.34483        NaN
 11.34483        NaN
 12.34483        NaN
 13.34483        NaN
 14.34483        NaN
 15.34483        NaN
 16.34483        NaN
 17.34483        NaN
 18.34483  -0.004644
 19.34483  -0.004644
 20.34483  -0.004644
 21.34483   0.338460
 22.34483   0.358400
 23.34483   0.363730
 24.34483   0.363320
 25.34483   0.359690
 26.34483   0.354710
 27.34483   0.349090
 28.34483   0.343860
 29.34483   0.341460
 30.34483   0.337970
 31.34483   0.329200
 32.34483   0.325670
 33.34483   0.310320
 34.34483   0.305900
 35.34483   0.313610
 36.34483   0.323980
 37.34483   0.335830
 38.34483   0.345620
 39.34483   0.352870
 40.34483   0.358050
 41.34483   0.361220
 42.34483   0.363080
 43.34483   0.363920
 44.34483   0.364370
 45.34483   0.365620
 46.34483   0.367890
 47.34483   0.370580
 48.34483   0.374450
 49.34483   0.378920
 50.34483   0.384050
 51.34483   0.389710
 52.34483   0.396640
 53.34483   0.405630
 54.34483   0.418460
 55.34483   0.438240
 56.34483   0.466460
 57.34483   0.481190
 58.34483   0.456510
 59.34483   0.426910
 60.34483   0.403660
 61.34483   0.392510
 62.34483   0.388670
 63.34483   0.387830
 64.34483   0.387040
 65.34483   0.387360
 66.34483   0.388680
 67.34483   0.390170
 68.34483   0.391270
 69.34483   0.393090
 70.34483   0.394540
 71.34483   0.395890
 72.34483   0.397430
 73.34483   0.398570
 74.34483   0.400110
 75.34483   0.401230
 76.34483   0.402310
 77.34483   0.403970
 78.34483   0.405780
 79.34483   0.407040
 80.34483   0.408510
 81.34483   0.409990
 82.34483   0.411330
 83.34483   0.412680
 84.34483   0.414270
 85.34483   0.415360
 86.34483   0.416760
 87.34483   0.417920
 88.34483   0.418960
 89.34483   0.420430
 90.34483   0.421550
 91.34483   0.422710
 92.34483   0.423730
 93.34483   0.424860
 94.34483   0.425890
 95.34483   0.427260
 96.34483   0.428420
 97.34483   0.430140
 98.34483   0.431620
 99.34483   0.433870
 100.34483  0.436030
 101.34483  0.439060
 102.34483  0.442480
 103.34483  0.446680
 104.34483  0.451880
 105.34483  0.458160
 106.34483  0.465570
 107.34483  0.472980
 108.34483  0.480590
 109.34483  0.488460
 110.34483  0.493990
 111.34483  0.489730
 112.34483  0.472340
 113.34483  0.452190
 114.34483  0.438330
 115.34483  0.431070
 116.34483  0.427040
 117.34483  0.424390
 118.34483  0.423010
 119.34483  0.421620
 120.34483  0.421010
 121.34483  0.419930
 122.34483  0.419540
 123.34483  0.419240
 124.34483  0.418540
 125.34483  0.418180
 126.34483  0.418090
 127.34483  0.417860
 128.34483  0.417640
 129.34483  0.417730
 130.34483  0.417980
 131.34483  0.417880
 132.34483  0.417800
 133.34483  0.417700
 134.34483  0.417730
 135.34483  0.417740
 136.34483  0.417670
 137.34483  0.417430
 138.34483  0.417610
 139.34483  0.417350
 140.34483  0.417490
 141.34483  0.417320
 142.34483  0.417080
 143.34483  0.417140
 144.34483  0.417130
 145.34483  0.417410
 146.34483  0.417300
 147.34483  0.417520
 148.34483  0.418020
 149.34483  0.418350
 150.34483  0.418250
 151.34483  0.418540
 152.34483  0.418800
 153.34483  0.419190
 154.34483  0.419350
 155.34483  0.419700
 156.34483  0.420130
 157.34483  0.420530
 158.34483  0.420900
 159.34483  0.421540
 160.34483  0.421900
 161.34483  0.422650
 162.34483  0.423280
 163.34483  0.424250
 164.34483  0.425050
 165.34483  0.425510
 166.34483  0.425630
 167.34483  0.426160
 168.34483  0.426350
 169.34483  0.426990
 170.34483  0.427110
 171.34483  0.427340
 172.34483  0.427630
 173.34483  0.428010
 174.34483  0.428410
 175.34483  0.429050
 176.34483  0.429340
 177.34483  0.429710
 178.34483  0.429620
 179.34483  0.429910
 180.34483  0.430160
 181.34483  0.429990
 182.34483  0.429980
 183.34483  0.430240
 184.34483  0.430090
 185.34483  0.430250
 186.34483  0.430300
 187.34483  0.430330
 188.34483  0.430370
 189.34483  0.431050
 190.34483  0.431330
 191.34483  0.431670
 192.34483  0.432070
 193.34483  0.432090
 194.34483  0.432610
 195.34483  0.432640
 196.34483  0.432830
 197.34483  0.432670
 198.34483  0.433120
 199.34483  0.433340
 200.34483  0.433440
 201.34483  0.433900
 202.34483  0.434220
 203.34483  0.434790
 204.34483  0.435220
 205.34483  0.435490
 206.34483  0.436100
 207.34483  0.436370
 208.34483  0.436780
 209.34483  0.437090
 210.34483  0.437450
 211.34483  0.437960
 212.34483  0.438150
 213.34483  0.438810
 214.34483  0.439070
 215.34483  0.439110
 216.34483  0.440010
 217.34483  0.440910
 218.34483  0.441800
 219.34483  0.442520
 220.34483  0.442990
 221.34483  0.443740
 222.34483  0.444360
 223.34483  0.444760
 224.34483  0.445470
 225.34483  0.446150
 226.34483  0.446850
 227.34483  0.447470
 228.34483  0.448340
 229.34483  0.449710
 230.34483  0.450540
 231.34483  0.451840
 232.34483  0.453490
 233.34483  0.455100
 234.34483  0.456770
 235.34483  0.458520
 236.34483  0.460160
 237.34483  0.461730
 238.34483  0.463340
 239.34483  0.464920
 240.34483  0.466950
 241.34483  0.469090
 242.34483  0.471160
 243.34483  0.472590
 244.34483  0.473640
 245.34483  0.474070
 246.34483  0.473350
 247.34483  0.472230
 248.34483  0.470680
 249.34483  0.469300
 250.34483  0.468270
 251.34483  0.467700
 252.34483  0.467400
 253.34483  0.467650
 254.34483  0.467830
 255.34483  0.468520
 256.34483  0.469210
 257.34483  0.469680
 258.34483  0.470700
 259.34483  0.471270
 260.34483  0.472140
 261.34483  0.472890
 262.34483  0.473670
 263.34483  0.474510
 264.34483  0.475300
 265.34483  0.476440
 266.34483  0.478190
 267.34483  0.479660
 268.34483  0.481170
 269.34483  0.482220
 270.34483  0.482260
 271.34483  0.481730
 272.34483  0.480770
 273.34483  0.480150
 274.34483  0.479970